.four_news_detail_132 {
    margin-top: 20px;
    overflow: hidden;
    padding: 0px 0 0 40px;
    color: #fff;
}

.four_news_detail_132 .time {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    text-align: center;
    padding: 10px 0
}

.four_news_detail_132 .title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.four_news_detail_132 .contents {
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
    min-height: 300px
}

.four_news_detail_132 .img_box img {}

.four_news_detail_132 .contents p {
    font-size: 14px;
    color: #fff;
}

.four_news_detail_132 .contents .img_box {
    width: 870px;
    height: 390px;
    margin-bottom: 30px;
    text-align: center;
}

.four_news_detail_132 .contents .img_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.four_case_detail_134 {
    margin-top: 20px;
    overflow: hidden;
    padding: 0px 0 0 40px;
    color: #fff;
}

.four_case_detail_134 .time {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    text-align: center;
    padding: 10px 0
}

.four_case_detail_134 .title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.four_case_detail_134 .contents {
    padding: 20px 0;
    color: #555;
    line-height: 180%;
    font-size: 16px;
    min-height: 300px
}

.four_case_detail_134 .contents p {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

.four_case_detail_134 .contents .img_box {
    width: 870px;
    height: 390px;
    margin-bottom: 30px;
    text-align: center;
}

.four_case_detail_134 .contents .img_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}