/* 130 */

.lb_contact_us_130 {
    margin: 20px auto 0px;
    padding-left: 40px;
}

.lb_contact_us_130 .title {
    font-size: 18px;
    color: #fff;
    margin: 0 0 10px 0;
    height: 30px;
    text-transform: capitalize
}

.lb_contact_us_130 p {
    line-height: 25px;
    font-size: 14px;
    margin: 0 0 20px 0;
    color: #fff
}

.lb_contact_us_130 .company_txt {
    color: #515151
}

.lb_contact_us_130 .company_txt tr th {
    width: 130px;
    color: #fff;
    text-align: left;
    font-weight: 400;
    vertical-align: top;
    padding: 3px 3px 4px
}

.lb_contact_us_130 .company_txt tr td {
    color: #999;
    vertical-align: top;
    line-height: 24px;
    padding: 0 3px 4px
}


/* 130 */


/* 122 */

.three_company_general_122 {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 40px 0 0 40px;
    color: #fff;
}

.three_company_general_122 .in_row_column {
    margin: 0 -2.07%;
    position: relative;
    color: #515151
}

.three_company_general_122 .in_row_column .one_three {
    margin: 0 2% 40px;
    box-sizing: border-box;
    clear: both;
}

.three_company_general_122 .in_row_column .one_three .title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.three_company_general_122 .in_row_column .one_three ul {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px 120px 20px 0;
    width: 49%;
}

.three_company_general_122 .in_row_column .one_three ul li {
    padding-left: 120px;
    color: #999;
    margin-top: 10px;
    position: relative;
}

.three_company_general_122 .in_row_column .one_three ul li:first-child {
    padding-left: 0;
}

.three_company_general_122 .in_row_column .one_three ul li span {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
}

.three_company_general_122 .in_row_column .one_three ul li a {
    display: inline-block;
    text-transform: none;
    font-weight: 400;
    color: #999;
    text-decoration: underline;
}

.three_company_general_122 .in_row_column .one_three:nth-child(2) ul {
    width: 100%;
}


/* 122 */


/* 112 */

.four_contact_main_left_112 {
    width: 100%;
    clear: both;
    color: #fff;
}

.four_contact_main_left_112 .title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1 1;
    line-height: 42px;
    margin-bottom: 20px;
}

.four_contact_main_left_112 p {
    height: 25px;
    font-size: 14px;
    line-height: 30px;
}

.four_contact_main_left_112 .hui {
    color: #999;
}

.four_contact_main_left_112 .social-c {
    overflow: hidden;
    margin-top: 15px;
}

.four_contact_main_left_112 .social-c i {
    float: left;
    font-size: 28px;
    margin-right: 25px;
    margin-top: 9px;
}

.four_contact_main_left_112 .social-c i:hover {
    transform: translate(0, -2px);
    z-index: 999;
    transition-duration: 0.2S;
}

.four_contact_main_left_112 .social-c i.icon-1 {
    font-size: 26px;
    color: #00aff0;
}

.four_contact_main_left_112 .social-c i.icon-2 {
    font-size: 25px;
    color: #3baf34;
}

.four_contact_main_left_112 .social-c i.icon-3 {
    font-size: 26px;
    color: #f6cb00;
}

.four_contact_main_left_112 .social-c i.icon-4 {
    font-size: 26px;
    color: #7ebd00;
}

.four_contact_main_left_112 .social-c i.icon-5 {
    font-size: 26px;
    color: #2ec027;
}

.four_contact_main_left_112 .social-c i.icon-6 {
    font-size: 26px;
    color: #6711d3;
}

.four_contact_main_left_112 .btn-box {
    clear: both;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.four_contact_main_left_112 .btn-box {
    clear: both;
    height: 40px;
    margin-top: 20px;
}

.four_contact_main_left_112 .orange-btn {
    text-transform: uppercase;
    background: #3B55E6;
    color: #fff;
    border-radius: 2px;
    width: auto;
    padding: 8px 25px;
    border: 0px;
    cursor: pointer;
    font-weight: 500;
}

.four_contact_main_left_112 .orange-btn:hover {
    transform: translate(0, -2px);
    z-index: 999;
    transition-duration: 0.2S;
}

.four_contact_main_left_112 .social-c i.icon-youjian {
    font-size: 28px;
    margin-top: 5px;
}


/* 112 */