.four_global_position_109 .breadcrumb {
    padding: 20px 0;
    border: 0px;
    margin-top: 100px;
    color: #fff;
}

.four_global_position_109 .breadcrumb .icon-rightArrow {
    display: inline-block;
    margin: 0 10px;
    font-style: normal;
    font-size: 12px;
}

.four_global_position_109 .breadcrumb a {
    color: #666;
    text-transform: capitalize;
}

.four_global_position_109 .breadcrumb a:hover {
    color: #fff;
}

.four_global_position_109 .breadcrumb h1,
.four_global_position_109 .breadcrumb h2 {
    display: inline;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 12px;
}

.four_global_position_109 .breadcrumb h1 a,
.four_global_position_109 .breadcrumb h2 a {
    font-size: 14px;
    font-weight: 400;
    display: inline;
    color: #666;
}