.four_index_pic_show_102 {
    position: relative;
    align-items: center;
    margin-top: 100px;
}

.four_index_pic_show_102 .four_banner {
    background: #222328;
}

.four_index_pic_show_102 .flexslider {
    background: #222328;
    position: relative
}

.four_index_pic_show_102 .flexslider .slides {
    zoom: 1;
    height: 668px
}

.four_index_pic_show_102 .four_banner ul li {
    height: 668px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.four_index_pic_show_102 .four_banner ul li .text {
    position: absolute;
    top: 25%;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center
}

.four_index_pic_show_102 .four_banner ul li .text .one {
    position: relative;
    height: 392px;
    width: 1000px;
}

.four_index_pic_show_102 .four_banner ul li .text .one .one-btn {
    margin-top: 350px;
}

.four_index_pic_show_102 .four_banner ul li .text .title {
    font-size: 48px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #fff;
    line-height: 82px;
    margin-bottom: 34px
}

.four_index_pic_show_102 .four_banner ul li .text span {
    display: inline-block;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-bottom: 160px;
    opacity: .8
}

.four_index_pic_show_102 .four_banner ul li .text .btn-box {
    text-align: center;
    width: 485px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 332px;
}

.four_index_pic_show_102 .four_banner ul li .text .btn-box .blue-btn {
    width: 270px;
    height: 60px;
    border-radius: 30px;
    float: left;
    line-height: 60px
}

.four_index_pic_show_102 .four_banner ul li .text .btn-box .border-btn {
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    float: left;
    line-height: 60px;
    opacity: 1 !important;
}

.four_index_pic_show_102 .slides li a {
    display: block;
    text-align: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.four_index_pic_show_102 .slides li a img {
    height: 100%;
    object-fit: cover;
    background: #000;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.four_index_pic_show_102 .four_banner .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center
}

.four_index_pic_show_102 .four_banner .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.four_index_pic_show_102 .four_banner .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #fff;
    opacity: .33;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.four_index_pic_show_102 .four_banner .flex-control-paging li a:hover {
    background: #fff;
    opacity: .8
}

.four_index_pic_show_102 .four_banner .flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default;
    opacity: .9
}