/* 101 */

.four_company_side_110 {
    width: 100%;
    float: left;
}

.four_company_side_110 h2 {
    font-weight: normal;
}

.four_company_side_110 .article-views {}

.four_company_side_110 .article-views .views {
    display: table;
}

.four_company_side_110 .article-views .views .col {
    display: table-cell;
    vertical-align: top
}

.four_company_side_110 .article-views .views .col.sidebar {
    padding: 0px 40px 40px 0;
    box-sizing: border-box;
}

.four_company_side_110 .article-views .views .col.sidebar .SR {
    margin-top: 10px;
    padding-left: 20px
}

.four_company_side_110 .article-views .views .col.sidebar .SR a {
    color: #fff;
    display: inline-block;
    position: relative
}

.four_company_side_110 .article-views .views .col.sidebar .SR a.title {
    font-size: 16px;
}

.four_company_side_110 .article-views .views .col.sidebar .SR a.title span {
    font-size: 12px;
}

.four_company_side_110 .article-views .views .col.sidebar .SR a:hover {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    background: #3B55E6;
    width: 248px;
}

.four_company_side_110 .article-views .views .col.sidebar .SR a:focus:after,
.four_company_side_110 .article-views .views .col.sidebar .SR a:hover:after {
    width: 100%
}

.four_company_side_110 .article-views .views .col.sidebar .SR a.on {
    color: #fff;
    background: #3b55e6;
    padding: 0 20px;
    box-sizing: border-box;
}

.four_company_side_110 .article-views .views .col.sidebar .SR>li {
    list-style: disc;
    color: #fff;
}

.four_company_side_110 .article-views .views .col.sidebar .SR>li a span {
    display: inline-block;
    float: right;
}

.four_company_side_110 .article-views .views .col.sidebar .SR>li>a {
    line-height: 40px;
    font-size: 14px;
    width: 250px;
    text-transform: capitalize;
}

.four_company_side_110 .article-views .views .col.sidebar .SR>li>a:hover {
    width: 250px;
    padding: 0 20px;
    box-sizing: border-box;
}

.four_company_side_110 .article-views .views .col.sidebar .SR>li ul {}

.four_company_side_110 .article-views .views .col.sidebar .SR>li ul li {
    margin: 10px 0;
}

.four_company_side_110 .article-views .views .col.sidebar .SR>li ul li a {
    line-height: 24px;
    font-size: 14px;
    padding-left: 20px;
    width: 248px;
    box-sizing: border-box;
    padding-right: 20px;
}

.four_company_side_110 .article-views .views .col.sidebar .SR li.on {
    background: #3B55E6;
    width: 270px;
}


/* 101 */


/* 112 */

.four_contact_main_left_112 {
    width: 100%;
    clear: both;
    color: #fff;
}

.four_contact_main_left_112 .title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1 1;
    line-height: 42px;
    margin-bottom: 20px;
}

.four_contact_main_left_112 p {
    height: 25px;
    font-size: 14px;
    line-height: 30px;
}

.four_contact_main_left_112 .hui {
    color: #999;
}

.four_contact_main_left_112 .social-c {
    overflow: hidden;
    margin-top: 15px;
}

.four_contact_main_left_112 .social-c i {
    float: left;
    font-size: 28px;
    margin-right: 25px;
    margin-top: 9px;
}

.four_contact_main_left_112 .social-c i:hover {
    transform: translate(0, -2px);
    z-index: 999;
    transition-duration: 0.2S;
}

.four_contact_main_left_112 .social-c i.icon-1 {
    font-size: 26px;
    color: #00aff0;
}

.four_contact_main_left_112 .social-c i.icon-2 {
    font-size: 25px;
    color: #3baf34;
}

.four_contact_main_left_112 .social-c i.icon-3 {
    font-size: 26px;
    color: #f6cb00;
}

.four_contact_main_left_112 .social-c i.icon-4 {
    font-size: 26px;
    color: #7ebd00;
}

.four_contact_main_left_112 .social-c i.icon-5 {
    font-size: 26px;
    color: #2ec027;
}

.four_contact_main_left_112 .social-c i.icon-6 {
    font-size: 26px;
    color: #6711d3;
}

.four_contact_main_left_112 .btn-box {
    clear: both;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.four_contact_main_left_112 .btn-box {
    clear: both;
    height: 40px;
    margin-top: 20px;
}

.four_contact_main_left_112 .orange-btn {
    text-transform: uppercase;
    background: #3B55E6;
    color: #fff;
    border-radius: 2px;
    width: auto;
    padding: 8px 25px;
    border: 0px;
    cursor: pointer;
    font-weight: 500;
}

.four_contact_main_left_112 .orange-btn:hover {
    transform: translate(0, -2px);
    z-index: 999;
    transition-duration: 0.2S;
}

.four_contact_main_left_112 .social-c i.icon-youjian {
    font-size: 28px;
    margin-top: 5px;
}


/* 112 */


/* 121 */

.four_company_content_121 {
    overflow: hidden;
    color: #fff;
}

.four_company_content_121 .col.content {
    padding: 20px 0 0 40px;
    clear: both;
    overflow: hidden;
}

.four_company_content_121 .col.content h1 {
    font-size: 28px;
    font-weight: 400;
}

.four_company_content_121 .col.content .desc {
    color: #666;
}

.four_company_content_121 .col.content .desc p {
    line-height: 24px
}

.four_company_content_121 .col.content .desc img {
    max-width: 100%;
}

.four_company_content_121 .col.content .infos {
    text-align: center;
    margin-bottom: 30px;
}

.four_company_content_121 .col.content .infos h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

.four_company_content_121 .col.content .infos h2.title {
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}

.four_company_content_121 .col.content .infos p {
    line-height: 20px;
    margin: 0px;
}

.four_company_content_121 .col.content .desc .flexslider {
    margin-bottom: 20px;
    position: relative;
    height: 390px;
}

.four_company_content_121 .col.content .desc .flexslider ul li {
    height: 390px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    overflow: hidden;
    display: none;
}

.four_company_content_121 .col.content .desc .flexslider .slides {
    text-align: center;
}

.four_company_content_121 .col.content .desc .flexslider .slides li a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.four_company_content_121 .col.content .desc .flex-control-nav {
    width: 870px;
    position: absolute;
    bottom: 17px;
    text-align: center;
}

.four_company_content_121 .col.content .desc .flex-control-paging li a {
    background: rgba(255, 255, 255, .5) !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important
}

.four_company_content_121 .col.content .desc .flex-control-paging li a.flex-active,
.four_company_content_121 .col.content .desc .flex-control-paging li a:hover {
    background: rgba(255, 255, 255, 1) !important
}

.four_company_content_121 .bule-text {
    color: #3B55E6;
    display: block;
}

.four_company_content_121 .bule-text:hover {
    transform: translateX(2px);
    z-index: 999;
    transition-duration: 0.2S;
}

.four_company_content_121 .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.four_company_content_121 .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #fff;
    opacity: .33;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.four_company_content_121 .flex-control-paging li a:hover {
    background: #fff;
    opacity: .8
}

.four_company_content_121 .flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default;
    opacity: .9
}

.four_company_content_121 .article-views .views .col.content .desc table.cc th {
    font-weight: normal;
    text-align: left;
    color: #666;
    width: 15%;
    padding: 4px 0;
}

.four_company_content_121 .article-views .views .col.content .desc table.cc td {
    padding: 4px 0;
    line-height: 25px;
    color: #fff;
}


/* 121 */


/* 122 */

.four_product_detailmain_122 {}

.four_product_detailmain_122 {
    overflow: hidden;
    padding-bottom: 30px;
}

.four_product_detailmain_122 .details_wrap {
    padding: 0px 0 0 40px;
    clear: both;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    overflow: hidden;
    padding-bottom: 18px;
    float: left;
    color: #fff;
}

.four_product_detailmain_122 .details_wrap .title {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    padding: 40px 0 15px;
}

.four_product_detailmain_122 .details_wrap .desc {
    color: #666;
    position: relative;
    color: #fff;
}

.four_product_detailmain_122 .contant_four {
    width: 910px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
    padding-left: 40px;
}

.four_product_detailmain_122 .contant_four .tab_lis_2 {
    height: 42px;
    border-bottom: 1px solid #E4E4DF;
}

.four_product_detailmain_122 .contant_four .tab_lis_2 li {
    float: left;
    padding: 2px 20px 2px 0;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.four_product_detailmain_122 .contant_four .tab_lis_2 li a {
    line-height: 38px;
    display: block;
    color: #666;
    font-size: 16px;
    text-transform: capitalize;
}

.four_product_detailmain_122 .contant_four .tab_lis_2 li.on {
    color: #fff;
    border-bottom: 4px #3b55e6 solid;
    height: 36px;
}

.four_product_detailmain_122 .contant_four .tab_lis_2 li.on a {
    color: #fff;
}

.four_product_detailmain_122 .details_wrap .desc p {
    color: #fff;
}

.four_product_detailmain_122 .details_wrap .desc p span {
    color: #fff;
    background: #222328;
}

.three_company_general_122 .in_row_column .one_three ul li font {
    color: #999 !important;
}


/* 122 */